<!doctype html>
<html>
	<head>
		<title>No swearing!</title>
	</head>
	<body>
		<p>Ugh, why was it named after a swear!
		   That's terrible! It doesn't f$#@ up your brain...
		   It isn't even that confusing!</p>
		<p>Say heck. It's heck. If you don't understand it, then it's brainheck.</p>
		<p>
		<b>Imagine an array of values, defaulting to zero.</b><br>
		<b>You operate on a certain index, increasing or decreasing as necessary.</b><br>
		<b>Each operation is relative to this index---an operation being a capital letter.</b><br>
		<b>1.</b> The number preceding an operation is how many times the operation is run.<br>
		<b>2.</b> L decrements the index, and R increments.<br>
		<b>3.</b> P prints what is at the index, and S scans a character into the index.<br>
		<b>4.</b> F sets a <b>flag</b>... But does nothing just yet.<br>
		<b>5.</b> J skips an operation. <br>
		<b>6.</b> E compares what is at the index with what is at the next index.
		If they are equal, then it will backtrack to the last <b>flag</b>.<br>
		</p>
		<p>For example, the following should output "Hello, world!":</p>
<pre>
72IPR101IPR108I2PR111IPR32IPR119IP2LP3R114IP4LP5R100IPR33IPR10IPR
</pre>

<pre style="padding-top: 32px; padding-bottom: 32px; width: 512px; background-color: black; color: white; text-align: center;">

65IR114IR101IR32IR121IR111IR117IR97IR119IR105IR110
IR63IR47IR62IR67IR103IR116IR108IR115IR46IR10IR85IR
102IR66IR44I                         R104IR112IR58
IR78IR113IR9  ##. ###. .#. ### #. #  8IR52IR86IR77
IR82IR118IR5  # # #  # # #  #  ##.#  0IR100IR57IR5
4IR69I40LPRP  ##: ###` ###  #  #`##  RPRPRPRPRP3LP
4RP4LP5RPRPR  # # #`#. # #  #  # `#  2P8LPLP10RP8L
PRP8RP2LP7LP  ##` # `# # # ### #  #  10RP10LP39R12
1IRS59JF28LP  _____________________  9LP5RP5RP14LP
6RP9RP10LP11                         RP10LP9RP7LP4
LP5RP8RPRPRP   #  # #### #### # .#   233JLE21LP11L
P12RP17LP4LP   #  # #    #    #.#`   15RP10LP4RP3L
P9RP14LP17RP   #### #### #    ##:    RP3RP17LP10RP
8RP21LP13RP9   #  # #    #    #`#.   RP16LP9RP15LP
5RPRP8R2P14L   #  # #### #### # `#   P22RP23LP15RP
9RPRP7LPRP7R                         PRP13LP14RPRP
RP22LP23RPRP28LP29RP18LP13LP28RP4RP31LP16RP11LP23R
-P32LP36RP35LP36RP28LP29RP9LP16LP25RPLP2RP15LP5LP-
</pre>
	</body>
</html>
