{% extends 'users.html' %}
{% block title %}Leaderboard{% endblock %}
{% block content %}
<h1>LEADERBOARD</h1>
<div class="links">
	<a href="{{ url_for('users.create') }}">Register User</a>
</div>
<table class="users">
	<tr class="header">
		<th>
			<h1>#</h1>
		</th>
		<th>
			<h1>Score</h1>
		</th>
		<th>
			<h1>User Hash</h1>
		</th>
		<th>
			<h1>User Name</h1>
		</th>
	</tr>
	{% for user in users %}
	{% if users.index(user) % 2 == 0 %}
	<tr class="light">{% else %}
	<tr class="dark">{% endif %}
		{% if users.index(user) < 3 %}
		<td class="super">{% else %}
		<td>{% endif %}
			<h1>{{ users.index(user) + 1 }}</h1>
		</td>
		<td>
			<h1>{{ user.score() }}</h1>
		</td>
		<td>
			<h1>{{ user.hash }}</h1>
		</td>
		<td>
			<h1>{{ user.username }}</h1>
		</td>
	</tr>{% endfor %}
</table>
{% endblock %}
