body {
	background-color: black;
	color: white;
}

a {
	color: #8080ff;
}

.page {
	margin: auto;
	width: 768px;
}
.page .message {
	margin-bottom: 16px;
	border: 1px solid #808000;
	padding: 16px;
	background-color: #404000;
}
.page .message p {
	font-size: 12pt;
}
.page form h1 {
	font-size: 12pt;
	text-align: center;
}
.page input {
	display: block;
	margin: auto;
	border: 1px solid #404040;
	background-color: #202020;
	color: white;
	font-size: 14pt;
}
.page input:focus {
	background-color: #101010;
}
.page input[type=submit] {
	border: 2px solid #404040;
	color: white;
}
.page input[type=submit]:hover {
	border: 2px solid #606060;
	background-color: #303030;
}
.page .banner {
	margin: auto;
	width: 384px;
	height: 192px;
	overflow: visible;
}
.page .banner img {
	margin: auto;
	width: 100%;
}
.page h1 {
	text-align: center;
	font-weight: normal;
	font-size: 24pt;
}
.page h2 {
	text-align: center;
	font-weight: normal;
	font-size: 16pt;
}
.page h3 {
	margin-top: 32px;
	text-align: center;
	font-weight: normal;
	font-size: 16pt;
}

.links {
	display: flex;
	margin-bottom: 16px;
	justify-content: center;
	align-items: center;
}
.links a {
	display: block;
	font-size: 14pt;
}

tr, th, td {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

table.users {
	width: 100%;
}
table.users tr.header {
	background-color: #202020;
}
table.users tr.light {
	background-color: #404040;
}
table.users tr.dark {
	background-color: black;
}
table.users th h1 {
	font-weight: bold;
	font-size: 14pt;
	line-height: 0;
	text-align: left;
}
table.users td h1 {
	font-weight: normal;
	font-size: 14pt;
	line-height: 0;
	text-align: left;
}
table.users td.super h1 {
	color: yellow;
}
table.users td, table.users th {
	padding: 4px;
}
