<!doctype html>
<html>
	<head>
<style>
body {
	background-color: black;
	color: white;
	text-align: center;
}
</style>
		<title>Good Work.</title>
	</head>
	<body>
		<p>Good work.</p>
		<p>You have come far.</p>
		<p>Behold; this is the end.</p>
		<img src="static/happy.jpeg">
		<p>Send this image to C555 for your reward.</p>
		<!--
		And yet, you persevere.
		Hacker, we, CICADA, are actually EXEIRUS.
		You will soon be enlisted to help us hack the world.
		Congratulations.
		-->
	</body>
</html>
