body {
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #f0f0f0;
	color: black;
	font-family: sans-serif;
}
.page {
	padding-bottom: 50vh;
	width: 100%;
	background-color: #f0f0f0;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #c0c0c0;
	width: 100%;
	background-color: #ffffff;
}
.header .home {
	margin-left: 16px;
	margin-right: 16px;
	border: 1px solid #e0e0e0;
	border-radius: 16px;
	padding: 8px;
	background-color: #f0f0f0;
}
.header .home img {
}
.header .home:hover {
	background-color: #ffffff;
}
.header .home:hover img {
	opacity: 50%;
}
.header .search {
	margin: auto;
	padding: 8px;
	border: 1px solid #c0c0c0;
	width: 512px;
	height: 24px;
	background-color: #e0e0e0;
	line-height: 0;
}
.header .search h1 {
	float: left;
	font-weight: normal;
	font-size: 12pt;
	color: #808080;
}
.header .search img {
	float: right;
}
.header .user {
	padding: 8px;
	padding-left: 16px;
	background-color: #e0e0e0;
	text-align: right;
}
.header .user h1 {
	display: block;
	float: left;
	font-size: 12pt;
	font-weight: bold;
	line-height: 32px;
	color: #808080;
}
.header .user img {
	display: block;
	float: right;
	border: 1px solid #808080;
	margin-left: 16px;
}


table.content {
	overflow: scroll;
	margin: auto;
	width: 1280px;
	background-color: #f0f0f0;
	text-align: left;
}
table.content th.left {
	vertical-align: top;
	width: 768px;
}
table.content th.left .video {
	margin: 0px;
	padding: 0px;
	width: 768px;
	height: 432px;
	background-color: #808080;
}
table.content th.left .about {
	padding: 8px;
	padding-left: 16px;
	background-color: white;
}
table.content th.left .about h1 {
	font-size: 20pt;
}
table.content th.left .about .author img {
	float: left;
	border: 1px solid #808080;
	margin-right: 8px;
}
table.content th.left .about .author h1 {
	font-size: 16pt;
	font-weight: normal;
}
table.content th.left .about .author span.subscribe {
	border: 1px solid #404040;
	border-radius: 8px;
	padding: 4px;
	background-color: #ff8080;
	color: #c0c0c0;
}
table.content th.left .about .author span.disabled {
	font-size: 12pt;
	color: #808080;
}
table.content th.left .about .description {
	border-top: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #f0f0f0;
	color: #404040;
}
table.content th.left .about .description h1 {
	font-size: 16pt;
	font-weight: normal;
}
table.content th.left .about .description h2 {
	font-size: 12pt;
	font-weight: normal;
}
table.content th.left .about .description p {
	color: #808080;
	font-size: 12pt;
	font-weight: normal;
}
table.content th.left .about .comments h1 {
	color: #808080;
	font-size: 16pt;
	font-weight: normal;
}
table.content th.right {
	vertical-align: top;
}
table.content th.right h1 {
	margin-left: 16px;
	color: #808080;
	font-size: 16pt;
	font-weight: normal;
}
table.content th.right .thumbnail {
	border-bottom: 1px solid #d0d0d0;
	padding: 16px;
	height: 144px;
	background-color: #e0e0e0;
}
table.content th.right .thumbnail .video {
	display: block;
	float: left;
	width: 256px;
	height: 144px;
	background-color: #d0d0d0;
}
table.content th.right .thumbnail .about {
	display: block;
	float: right;
	width: 208px;
	height: 100%;
}
table.content th.right .thumbnail .about .title {
	width: 100%;
	height: 24px;
	margin-bottom: 4px;
	background-color: #d0d0d0;
}
table.content th.right .thumbnail .about .description {
	width: 100%;
	height: 64px;
	background-color: #d0d0d0;
}


.listing {
	margin: auto;
	padding-top: 16px;
	width: 1152px;
	height: auto;
}
.listing h1 {
	color: #808080;
	font-size: 16pt;
	font-weight: normal;
}
.listing a {
	text-decoration: none;
}
.listing .group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	margin: auto;
	border-radius: 4px;
	width: 100%;
	background-color: #e0e0e0;
}
.listing .group .thumbnail {
	margin: 4px;
	border: 1px solid #c0c0c0;
	width: 374px;
	background-color: #f8f8f8;
}
.listing .group .thumbnail img {
	width: 374px;
	height: 210px;
	background-color: #808080;
}
.listing .group .thumbnail:hover {
	background-color: white;
}
.listing .group .thumbnail:hover img {
	opacity: 75%;
}
.listing .group .thumbnail .about {
	padding: 16px;
	padding-top: 8px;
	width: 100%;
	height: 100%;
}
.listing .group .thumbnail .about h1 {
	color: black;
	text-align: left;
	font-size: 14pt;
	font-weight: normal;
	line-height: 8px;
}
.listing .group .thumbnail .about h2 {
	color: #404040;
	text-align: left;
	font-size: 12pt;
	font-weight: normal;
	line-height: 8px;
}
