body {
	margin: 0px;
	padding: 0px;
	background-color: lightgray;
}

.page {
	position: relative;
	max-width: 768px;
	margin: auto;
	padding: 0px;
	background-color: white;
}

.header {
	padding: 16px;
	border-bottom: solid 1px black;
	background-color: gray;
	color: white;
	line-height: 0px;
	font-weight: bold;
}
.header p {
	text-align: right;
	color: lightgray;
}
.header img {
	float: left;
	margin-right: 8px;
}
.header h1 {
	font-size: 24pt;
}
.header h2 {
	font-size: 12pt;
}

.content {
	padding: 32px;
}
.content table {
	width: 100%;
	line-height: 0px;
	font-weight: normal;
}
.content table th.left
{
	text-align: left;
}
.content table th.right
{
	text-align: right;
}

.listing {
	padding: 32px;
}
.listing table {
	width: 100%;
	text-align: left;
}
.listing th {
	font-weight: normal;
}
.listing tr.description th {
	font-weight: bold;
	text-decoration: underline;
}

.footer {
	padding: 16px;
	background-color: black;
	color: white;
	line-height: 0px;
	font-weight: bold;
	text-align: center;
}
.footer h1 {
	font-size: 16pt;
}
.footer h2 {
	font-size: 12pt;
}
