body {
	margin: 0px;
	padding: 0px;
	background-color: #101010;
	color: white;
}
h1 {
	color: white;
	font-size: 16pt;
	font-weight: normal;
}
h2 {
	color: white;
	font-size: 12pt;
	font-weight: normal;
}
h3 {
	color: #808080;
	font-size: 12pt;
	font-weight: normal;
}
a {
	color: #8080ff;
}
hr {
	border: 0;
	border-bottom: 1px solid #404040;
}
span.important {
	padding: 2px;
	border-radius: 8px;
	background-color: red;
	color: yellow;
	font-style: normal;
}
.page {
	max-width: 768px;
	margin: auto;
	padding: 0px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 16px;
	padding: 16px;
	border: solid 1px #808080;
	background-color: black;
}
.header img {
	height: 64px;
}

.post {
	padding: 32px;
}
.post .content p {
	color: #c0c0c0;
}
.post .content b {
	color: white;
	font-weight: normal;
}
.post .content {
	border: solid 1px #808080;
	padding: 16px;
	background-color: black;
}
.post .content span.monospace {
	font-family: monospace;
	color: #c0c0c0;
}
.post .content span.monospace b {
	color: white;
}
.post .content pre.monospace {
	font-family: monospace;
	color: #c0c0c0;
}
.post .content pre.monospace b {
	color: white;
}
.listing {
	padding: 32px;
}
.listing .group {
	margin-bottom: 16px;
	border: solid 1px #808080;
	padding: 8px;
	padding-left: 16px;
	background-color: black;
	line-height: 0px;
}
.listing .group p {
	color: #a0a0a0;
	padding-left: 16px;
}
.listing .group p i {
	color: #e0e0e0;
}
.listing .group p b {
	color: white;
	font-weight: normal;
}

.footer {
	padding-bottom: 50vh;
	color: white;
	line-height: 0px;
	font-weight: bold;
	text-align: center;
}
