<!DOCTYPE html>
<html>

	<head>	
		<title>15 Puzzle</title>
	
		<style>
			html, 
			body {
				background-color: rgb(0,0,0);
				width:  100%;
				height: 100%;
				margin: 0;
			}
			
			
		</style>
	</head>


	<body>
		
	<div>
		<canvas id="canvas"></canvas>
	</div>	
		<script>
// Canvas element
const canvas = document.getElementById("canvas");

// Position of puzzle on the screen
var xPos, yPos;

// Side of the game board and side of each tile
const recSide = 400;
const ownSide = recSide / 4;


// Executes code once the page has loaded
document.addEventListener("DOMContentLoaded", function () {
	update_canvas ();
	draw_puzzle ();
	console.log(blankX, " ", blankY);
});

// Updates canvas position and size variables - to keep everything centered if user resizes the window
function update_canvas () {
	// Set canvas to be the size of window
	canvas.width = window.innerWidth
	canvas.height = window.innerHeight;

	// Calculate position of the puzzle relative to the screen
	xPos = Math.floor( (canvas.width / 2) - (recSide / 2) );
	yPos = Math.floor( (canvas.height / 2) - (recSide / 2) );
}


// Executes code once the window has been resized
window.addEventListener("resize", function () {
	update_canvas ();
	draw_puzzle ();
});


// Main function - draws the current state of the puzzle
function draw_puzzle () {
	const ctx = canvas.getContext("2d");
	// Clear entire canvas before drawing new elements
	ctx.clearRect(0, 0, canvas.width, canvas.height);

	// Set up text parameters
	ctx.font = "40px Arial";
	ctx.textAlign = "center";

	ctx.beginPath();
	// Draw white game background
	ctx.fillStyle = "white";
	ctx.roundRect(xPos-10, yPos-10, recSide+20, recSide+20, 7);
	ctx.fill();
	// Give user the key
	ctx.fillText ("{{ key_step }}", xPos + recSide / 2, yPos - 80);
	ctx.stroke();

	for (var i = 0; i < 4; i++) {
		for (var j = 0; j < 4; j++) {
			// When encounter blank tile - do nothing
			if (j+i*4 == 15)
				continue;
			// Coordinates of a tile on canvas
			var xTemp = xPos + j * ownSide;
			var yTemp = yPos + i * ownSide;

			ctx.beginPath();
			// Draw the tile
			ctx.fillStyle = "black";
			ctx.roundRect(xTemp, yTemp, ownSide - 3, ownSide - 3, 10);
			ctx.fill();
			// Add the number to the tile
			ctx.fillStyle = "white";
			ctx.fillText (1+j+i*4, xTemp + ownSide/2, yTemp + ownSide/2 + 10);
			ctx.stroke();
		}
	}
}
		</script>
		
	</body>

</html>